*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/weather-bg.jpg);
    background-size: cover;
    background-position:center;
}